
/* Contact Us Area Page */

.contact-beg{

  .bg-wrapper{
    background: linear-gradient(
                            rgba(20,20,20, .8),
                            rgba(20,20,20, .8)),
    image_url("auto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem;
    color: rgba(24,211,224,1);;
    height: 500px;
    width: 100%;

  }
}

