



<section id="honor">

  <div class ="about-wrapper">
    <div class ="container">
      <div class="row">
        <div class="col-4">
          <h1>
            Cars, Business, and Stuff
            <small>Looking out for you</small>
          </h1>

        </div>
        <div class="col-8">

        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h3>Our Gosals</h3>
        <p>Spicy jalapeno bacon ipsum dolor amet enim frankfurter jowl short loin dolore culpa irure brisket short ribs. Tenderloin chuck eiusmod, quis dolore aliqua ball tip nisi pancetta biltong pariatur. Ut labore dolore esse, shoulder kielbasa</p>
        </div>

        <div class="col-4">
          <h3>Our Passion</h3>
        <p>T-bone sausage swine, pig adipisicing chuck flank sirloin tail frankfurter. Salami cupim t-bone meatball frankfurter. Hamburger filet mignon frankfurter laborum cillum eiusmod sirloin. T-bone chuck cow tempor officia, dolor duis hamburger leberkas bacon. U</p>
        </div>
        <div class="col-4">
          <h3>Our hopes and dreams of a better tomorrow</h3>
        <p>T-bone sausage swine, pig adipisicing chuck flank sirloin tail frankfurter. Salami cupim t-bone meatball frankfurter. Hamburger filet mignon frankfurter laborum cillum eiusmod sirloin. T-bone chuck cow tempor officia, dolor duis hamburger leberkas bacon.</p>
        </div>
      </div>

    </div>
  </div>




</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-7">
      <h1>A Few Words</h1>
        <p><img src="http://via.placeholder.com/150x150" alt="..." class="img-thumbnail">Spicy jalapeno bacon ipsum dolor amet enim frankfurter jowl short loin dolore culpa irure brisket short ribs. </p>
        <p><img src="http://via.placeholder.com/150x150" alt="..." class="img-thumbnail">Spicy jalapeno bacon ipsum dolor amet enim frankfurter jowl short loin dolore culpa irure brisket short ribs. </p>

        <p><img src="http://via.placeholder.com/150x150" alt="..." class="img-thumbnail">Spicy jalapeno bacon ipsum dolor amet enim frankfurter jowl short loin dolore culpa irure brisket short ribs. </p>

      </div>
      <div class="col-5">
      <h1>What we Offer</h1>
      </div>
    </div>
  </div>


</section>