
<section class = "contact-beg">
  <div class="container-fluid">
    <div class ="row">
      <div class ="bg-wrapper">
        <h1>Welcome</h1>
      </div>
    </div>

  </div>

</section>



<section class ="contact-info">

  <div class="container">
      <div class="row justify-content-center">
        <div class="col-7">
          <h1>Contact Us</h1>
          <p>We will be delighted to help in any way.</p>
          <form action="https://rollovanslyke.com/contact.html" method="post" role="form" data-h5-instanceid="0" novalidate="novalidate">
            <div class="form-group" id="contact_name"><label>Name<span class="required">*</span></label><input class="form-control ui-state-valid" type="text" name="name" value="" maxlength="100"></div>
            <div class="form-group" id="contact_email"><label>Email<span class="required">*</span></label><input class="form-control" type="text" name="email" value="" maxlength="255"></div>
            <div class="form-group" id="contact_company"><label>Company</label><input class="form-control" type="text" name="company" value="" maxlength="200"></div>
            <div class="form-group" id="contact_phone"><label>Phone Number<span class="required">*</span></label><input class="form-control" type="text" name="phone" value="" maxlength="30"></div>
            <div class="form-group" id="contact_fax"><label>Fax</label><input class="form-control" type="text" name="fax" value="" maxlength="30"></div>
            <div class="form-group" id="contact_subject"><label>Subject<span class="required">*</span></label><input class="form-control" type="text" name="subject" value="" maxlength="200"></div>
            <div class="form-group" id="contact_destination" style="display:none;"><div class="label">Office</div>
              <select class="form-control" name="location" id="destination-location-item" style="min-width: 155px;">
                <option value="358" selected="">The Rollo Van Slyke Insurance Agency of Farmers Insurance, Inc.</option>				</select>
            </div>
            <div class="form-group" id="contact_comments"><label>Comments<span class="required">*</span></label><textarea class="form-control" name="comments" rows="6" cols="22"></textarea></div>

            <div class="form-group" id="submit_button"><input class="btn btn-lg btn-theme-primary" type="submit" name="submit" value="Submit"></div>
          </form>
        </div>
        <div class="col-5">
          <h1>Contact Info</h1>
          <p class="location">Lynden, WA </p>
          <p class="phone">(360) 318-1828</p>
          <p class ="email">asdfj@gmail.com</p>
          <p class ="hours">5:00 am - 9:00 pm</p>
          <div class="rounded-social-buttons text-left">
            <a class="social-button facebook" href="#"></a>
            <a class="social-button linkedin" href="#"></a>
            <a class="social-button youtube" href="#"></a>

          </div>
          <iframe
          width="100%"
          height="350px"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAUsgGrDvfKawWzsxIldiDROR0b1uk_t7Y&q=Farmers+Insurance:+Carlos+Sahagun" allowfullscreen>
          </iframe>
        </div>
      </div>

  </div>


</section>