<div class="copy-write">
  <div class="container-fluid">
    <div class="row">

      <div class="wpb_wrapper">
        <p>Copyright © 2016 Sahagun Farmers' Insurance Agency</p>
      </div>

    </div>


  </div>


</div>