
<%# add navigation links to this file %>
<li class='nav-item items'><%= link_to 'Home', root_path, class: 'nav-link' %></li>
<li class='nav-item items'><%= link_to 'About Us', page_path('about'), class: 'nav-link' %></li>
<li class='nav-item items'><%= link_to 'Blog', page_path('blog'), class: 'nav-link' %></li>
<li class='nav-item items'><%= link_to 'Contact Us', page_path('contact'), class: 'nav-link' %></li>
