<!-- top google helper -->
<div class="top-menu-hidden-xs">
  <div class="container ">
    <div class="row">
      <div class="col-lg-5">



      </div>

      <div class="col-lg-7">
        <p class="location">Lynden, WA </p>
        <p class="phone">(360) 318-1828</p>
        <p class ="email">asdfj@gmail.com</p>
        <p class ="hours">5:00 am - 9:00 pm</p>
        <!--Rounded Social Buttons -->
        <div class="rounded-social-buttons">
            <a class="social-button facebook" href="#"></a>
            <a class="social-button linkedin" href="#"></a>
            <a class="social-button youtube" href="#"></a>

        </div>

      </div>




    </div>


    <!-- Google font changer -->
  </div>
</div>


<div class="navbar-header">
  <nav class="navbar navbar-expand-lg navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav">
        <%=render 'layouts/navigation-links' %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>

  </nav>
</div>